body {
    margin: 0;
    overflow: hidden;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;

    background: url("../images/blob/blob1.svg") center;
    background-size: cover;
}

#classTitle {
    position: relative;
    top: 5rem;
    text-align: center;
    font-size: 3rem;
}